<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some website</title>
    </head>
    <body>    
        <h1>App is under maintenance. We'll be right back</h1>
        <p>YEEEET</p>
    </body>
</html>
